* {
    padding: 0;
    margin: 0;
    background: #ECE5DD;
}

.head {
    margin-left: 145px;
    color: #075E54;
    font-family: 'Arial Narrow Bold', sans-serif;
    background: #DCF8C6;
}

#wrapper {
    width: 1000px;
    margin: 10px auto;
    background: #DCF8C6;
    padding: 20px;
}

.textarea {
    width: 97%;
    border: 1px solid #b3b3b3;
    outline: none;
    padding: 10px;
    margin-top: 10px;
}

.chat_wrapper {
    width: 70%;
    margin: 10px auto;
    background: #ffffff;
}

#chat {
    height: 500px;
    overflow: auto;
    border: 1px solid #b3b3b3;
    padding: 10px;
}